<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GiG-Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dodaj Gig'a", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kamil Czaja</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Translations/MomentJS/pl.js"></script>
    

    

    
<script type="text/x-template" id="notifications-template">
    
    <ul class="notifications">
        <%

        _.each(notifications, function(notification){

        if(notification.type == 1)
        {
        
        moment.locale('pl');
       
            %>

            <li><span class="highlight"><%= notification.gig.artist.name %></span> Odwołał swoje wydarzenie w miejscu: <%= notification.gig.venue%> o czasie: <%= moment(notification.gig.dateTime).format("D MMM HH:mm")%>.</li>

            <%
        }

        else if(notification.type ==2)
        {

            var changes = [],
            orginalValue = [],
            newValue = [];


            if(notification.orginalVenue != notification.gig.venue)
            {
                changes.push('Miejsce wydarzenia');
                newValue.push(notification.gig.venue);
                orginalValue.push(notification.originalVenue);
        
  
            }

            if(notification.orginalDateTime != notification.gig.dateTime)
            {
                changes.push('Czas wydarzenia');
                newValue.push(moment(notification.gig.dateTime).format("D MMM HH:mm"));
                orginalValue.push(moment(notification.orginalDateTime).format("D MMM HH:mm"));

            }
        
        %>

        <li><span class="highlight"> <%= notification.gig.artist.name %> </span> zmienił <%= changes.join(' i ') %> z <%= orginalValue.join(' ') %> na <%= newValue.join(' ') %> .</li>
        
        <%
        }

        })

        %>

    </ul>


</script>
    
<script>

            $(document)
                .ready(function() {

                    $.getJSON("/api/notification/",
                        function (notifications) {

                            if (notifications.length == 0)
                                return;

                            $(".js-notifications-count")
                                .text(notifications.length)
                                .removeClass("hide")
                                .addClass("animated bounceInDown");



                            $(".notifications")
                            .popover({
                                html: true,
                                title: "Powiadomienia",
                                content: function () {

                                    var compiled = _.template($("#notifications-template").html());
                                    var html = compiled({ notifications: notifications });
                                    return html;

                                },
                                placement: "bottom"
                   
                            }).on("shown.bs.popover", function() {
                                    
                              
                                 
                                $.post("api/notification/readed/",{})
                                        .done(function () {
                                          

                                            $(".js-notifications-count")
                                                .text(notifications.length)
                                                .addClass("hide")
                                                .removeClass("animated bounceInDown");

                                        })
                                        .fail(function () {
                                            alert("Coś poszło nie tak :(");
                                        });
                                

                                });
                        });
                });
        </script>
</body>
</html>
